<html>
  <head>
    <% include ./partials/head %>
    <title>Meine Autos</title>
   
  </head>
  <body class="body" onload="test()">
    <% include ./partials/header %>
    <div id="content">
      <span>
          <br>
        
          <% if (fahrzeug.typ != null) {%>
          <a>Fahrzeugtyp: <%= fahrzeug.typ %> </a>
          <br>
          <% } %>
          <% if (fahrzeug.marke != null) {%>
          <a>Marke: <%= fahrzeug.marke %> </a>
          <br>
          <% } %>
          <% if (fahrzeug.modell != null) {%>
          <a>Modell: <%= fahrzeug.modell %> </a>
          <br>
          <% } %>
          <% if (fahrzeug.bezeichnung != null) {%>
          <a>Bezeichnung: <%= fahrzeug.bezeichnung %> </a>
          <br>
          <% } %>
          <% if (fahrzeug.baujahr != null) {%>
          <a>Baujahr: <%= fahrzeug.baujahr %> </a>
          <br>
          <% } %>
          <% if (fahrzeug.leistung != null) {%>
          <a>Leistung: <%= fahrzeug.leistung %> PS</a>
          <br>
          <% } %>
          <% if (fahrzeug.antriebsart != null) {%>
          <a>Treibstoff: <%= fahrzeug.antriebsart %> </a>
          <br>
          <% } %>
          <% if (fahrzeug.getriebeart != null) {%>
          <a>Getriebeart: <%= fahrzeug.getriebeart %> </a>
          <br>
          <% } %>
          <% if (fahrzeug.kilometerstand != null) {%>
          <a>Kilometerstand: <%= fahrzeug.kilometerstand %> </a>
          <br>
          <% } %>
          <% if (fahrzeug.extras != null) {%>
          <a>Extras: <%= fahrzeug.extras %> </a>
          <br>
          <% } %>
      </span>
    </div>
  </body>
</html>