<html>
  <head>
    <% include ./partials/head %>
    <title>MeineBetankungen</title>
    <script type="text/javascript">
      //console.log(user);
    </script>
  </head>
  <body class="body">
    <% include ./partials/header %>
    <div id="content">
        
    <table border="">
      <span>
        <tr>
            <th>Datum</th>
            <th>Menge</th>
            <th>Kosten</th>
            <th>Tachostand</th>
            <th>Distanz</th>
            <th>Kraftstoff</th>
            <th>Vollbetankung</th>
            <th>Reifen</th>
            <th>Fahrweise</th> 
            <th>Strecke</th>
            <th>Tankstelle</th>
            <th>Boardcomputer</th>
        </tr>
        <% for(var i=0; i < betankungen.length; i++) { %>
          <% for(var z=0; z<betankungen[i].length; z++){ %>
            <tr>
                <td><%= betankungen[i][z].Datum %></td>
                <td><%= betankungen[i][z].Liter%></td>
                <td><%= betankungen[i][z].Kosten%></td>
                <td><%= betankungen[i][z].Kilometer%></td>
                <td><%= betankungen[i][z].Distanz%></td>
                <td><%= betankungen[i][z].Kraftstoff%></td>
                <td><%= betankungen[i][z].Vollbetankung%></td>
                <td><%= betankungen[i][z].Reifen%></td>
                <td><%= betankungen[i][z].Fahrweise%></td>
                <td><%= betankungen[i][z].Strecken%></td>
                <td><%= betankungen[i][z].Tankstelle%></td>
                <td><%= betankungen[i][z].Boardcomputer%></td>
            </tr>
         <% } %>
        <% } %>
      </span>
    </table>
    </div>
  </body>
</html>