<html>
  <head>
    <% include ./partials/head %>
    <title>MeineBetankungen</title>
    <script type="text/javascript">
      //console.log(user);
    </script>
  </head>
  <body class="body">
    <% include ./partials/header %>
    <div id="content">
        
    <table border="">
      <span>
        <tr>
            <th>Datum</th>
            <th>Menge</th>
            <th>Kosten</th>
            <th>Tachostand</th>
            <th>Distanz</th>
            <th>Kraftstoff</th>
            <th>Vollbetankung</th>
            <th>Reifen</th>
            <th>Fahrweise</th> 
            <th>Strecke</th>
            <th>Tankstelle</th>
            <th>Boardcomputer</th>
        </tr>
        <% for(var i=0; i < betankungen.length; i++) { %>
          
            <tr>
                <td><%= betankungen[i].Datum %></td>
                <td><%= betankungen[i].Liter%></td>
                <td><%= betankungen[i].Kosten%></td>
                <td><%= betankungen[i].Kilometer%></td>
                <td><%= betankungen[i].Distanz%></td>
                <td><%= betankungen[i].Kraftstoff%></td>
                <td><%= betankungen[i].Vollbetankung%></td>
                <td><%= betankungen[i].Reifen%></td>
                <td><%= betankungen[i].Fahrweise%></td>
                <td><%= betankungen[i].Strecken%></td>
                <td><%= betankungen[i].Tankstelle%></td>
                <td><%= betankungen[i].Boardcomputer%></td>
            </tr>
         
        <% } %>
      </span>
    </table>
    </div>
  </body>
</html>