<html>

<head>
    <% include ./partials/head %>
        <title>Mein Profil</title>
        <script type="text/javascript">
            var user = <%- JSON.stringify(user) %>
            console.log(user);
        </script>
</head>

<body class="body">
    <% include ./partials/header %>
        <div id="content">
            <h1 class="eingeschobenh1">Mein Profil</h1>
            <div class="bordercontainer">
                <span>
          <br>
          <a>Email: <%= user.email %></a>
          <br>
          <a>Passwort: *****</a>
          <br>
          <% if (user.anrede != null) {%>
          <a>Anrede: <%= user.anrede %> </a>
          <br>
          <% } %>
          <% if (user.nachname != null) {%>
          <a>Nachname: <%= user.nachname %> </a>
          <br>
          <% } %>
          <% if (user.vorname != null) {%>
          <a>Vorname: <%= user.vorname %> </a>
          <br>
          <% } %>
          <% if (user.geburtsdatum != null) {%>
          <a>Geburtsdatum: <%= user.geburtsdatum %> </a>
          <br>
          <% } %>
          <% if (user.straße != null) {%>
          <a>Straße: <%= user.straße %> </a>
          <br>
          <% } %>
          <% if (user.hausnummer != null) {%>
          <a>Hausnummer: <%= user.hausnummer %> </a>
          <br>
          <% } %>
          <% if (user.postleitzahl != null) {%>
          <a>Postleitzahl: <%= user.postleitzahl %> </a>
          <br>
          <% } %>
          <% if (user.ort != null) {%>
          <a>Ort: <%= user.ort %> </a>
          <br>
          <% } %>
          <% if (user.land != null) {%>
          <a>Land: <%= user.land %> </a>
          <br>
          <% } %>
      </span>
                <button type="button" id="ProfilLoeschen" onclick="deleteProfil()">Profil löschen</button>
                <br>
                <a href="/profilAendern">
                    <button type="button" id="ProfilAendern">Profil ändern</button>
                </a>
            </div>
        </div>
        <script src="/js/profilinformation.js"></script>
</body>

</html>