<html>
  <head>
    <% include ./partials/head %>
    <title>Suchergebnisse</title>
  </head>
  <body class="body">
    <% include ./partials/header %>
    <div id="content">
    
    <script type="text/javascript">
        var ergebnis = <%- JSON.stringify(suchergebnis) %>;
        console.log(ergebnis);
    </script>
    
        
        
    <div>
    
    <table border="5">
      <span>
            <tr>
                <td>Fahrzeugtyp: </td><td><%= suchergebnis.typ %></td>
                <td>Marke: </td><td><%= suchergebnis.marke%></td>
                <td>Modell: </td><td><%= suchergebnis.modell%></td>
            </tr>
            <tr>
                <td>Bezeichnung: </td><td> <%= suchergebnis.bezeichnung%></td>
                <td>Baujahr: </td><td><%= suchergebnis.baujahr%></td>
                <td>Leistung: </td><td><%= suchergebnis.leistung%></td>
            </tr>
            <tr>
                <td>Antriebsart: </td><td><%= suchergebnis.antriebsart%></td>
                <td>Getriebeart: </td><td><%= suchergebnis.getriebeart%></td>
                <td>Kilometerstand: </td><td><%= suchergebnis.kilometerstand%></td>
            </tr>
      </span>
    </table>
    </div> 
  </body>
</html>

