<html>
  <head>
    <% include ./partials/head %>
    <title>Suchergebnisse</title>
  </head>
  <body class="body">
    <% include ./partials/header %>
    <div id="content">
    
    <script type="text/javascript">
        var ergebnis = <%- JSON.stringify(suchergebnis) %>;
        console.log(ergebnis);
    </script>
    
    <% for (var i=0; i < suchergebnis.length; i++ ) { %>    
     
        
        
    <div class="bordercontainer">
    <table class="suchergebnistable">

            <tr>
                <th><b>Fahrzeugtyp:</b></th><td><%= suchergebnis[i].typ %></td>
                <th><b>Bezeichnung:</b></th><td> <%= suchergebnis[i].bezeichnung%></td>
                <th><b>Kilometerstand:</b></th><td><%= suchergebnis[i].kilometerstand%></td>
                
            </tr>
            <tr>
                <th><b>Marke:</b></th><td><%= suchergebnis[i].marke%></td>
                <th><b>Antriebsart:</b></th><td><%= suchergebnis[i].antriebsart%></td>
                <th><b>Baujahr:</b></th><td><%= suchergebnis[i].baujahr%></td>
                
            </tr>
            <tr>
                <th><b>Modell:</b></th><td><%= suchergebnis[i].modell%></td>
                <th><b>Leistung:</b></th><td><%= suchergebnis[i].leistung%></td>
                <th><b>Getriebeart:</b></th><td><%= suchergebnis[i].getriebeart%></td>
            </tr>    
                
            <button><a class="buttonhref" href="/spritverlauf">Details</a></button>

    </table>
    </div>
        
        
    <% } %>  
    </div>
 
  </body>
</html>

